/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .15s;
    font-family: "Red Hat Text", sans-serif;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
:root{
  --Red: hsl(14, 86%, 42%);
  --Red-footer: hsl(15, 63%, 23%);
  --Red-hover: hsl(15, 63%, 33%);
  --Green: hsl(159, 69%, 38%);
  
  --Rose-50: hsl(20, 50%, 98%);
  --Rose-100: hsl(13, 31%, 94%);
  --Rose-300: hsl(14, 25%, 72%);
  --Rose-400: hsl(7, 20%, 60%);
  --Rose-500: hsl(12, 20%, 44%);
  --Rose-900: hsl(14, 65%, 9%);
}
.attribution { 
  font-size: 14px; 
  text-align: center;
  background: var(--Red-footer);
  color: #fff;
  padding: 24px;
}
.attribution a { 
  color: hsl(228, 45%, 60%); 
}
p{
    font-size: 16px;
}
.phar{
  font-size: 14px;
}
.muted{
  color: var(--Rose-400);
}
.muted-2{
  color: var(--Rose-500);
  font-weight: 600;
}
.dark{
  color: var(--Rose-900) !important;
  font-weight: 500;
}
.flex{
  display: flex;
  align-items: center;
}
.between{
  justify-content: space-between;
}
.red{
  color: var(--Red);
  font-weight: 500;
}
.gap-4{
  gap: 8px;
}
.items-header{
  font-size: 24px;
  color: var(--Red);
}
.header{
  font-size: 40px;
  margin-bottom: 24px;
  color: var(--Rose-900);
}
.main{
  display: flex;
  min-height: 100vh;
  padding: 60px;
  background: var(--Rose-100);
  flex: 1;
  gap: 24px;
}
.left{
  flex:4;
}
.right{
  flex: 1;
  padding: 24px;
  background: var(--Rose-50);
  height: max-content;
  border-radius: 10px;
  /* min-width: 300px; */
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px 18px;
}
.item-image{
  border-radius: 18px;
}
.active-item-image{
  border: 3px solid var(--Red);
}
.title{
  font-size: 16px;
  color: var(--Rose-400);
  font-weight: 400;
}
.desc{
  font-size: 18px;
  color: var(--Rose-900);
  font-weight: 700;
}
.price{
  font-size: 18px;
  color: var(--Red);
  font-weight: 700;
}
.add-btn-cont{
  position: relative;
  background: var(--Red);
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 145px;
  height: 39px;
  margin: auto;
  border-radius: 300px;

}
.btn{
  border: none;
  outline: none;
  background: transparent;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.card-items{
  margin-top: 32px;
}
.add-btn{
  /* padding: 8px 24px; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Rose-50);
  border: 1px solid var(--Rose-500);
  border-radius: 300px;
}
.add-btn:hover{
  border: 1px solid var(--Red);
  color: var(--Red);
}
.active-add-btn{
  width: 20px;
  height: 20px;
  background: transparent;
  border: 1px solid var(--Rose-100);
  position: relative;
  top: 9px;
  left: 9px;
}
.minus-btn{
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: 1px solid var(--Rose-100);
  position: relative;
  top: 9px;
  right: 9px;

}
.confirm-btn{
  width: 100%;
  padding: 8px;
  background: var(--Red);
  color: var(--Rose-50);
  border-radius: 200px;
}
.confirm-btn:hover{
  background: var(--Red-hover);
}
.num-of-items{
  color: #fff;
  position: relative;
  top: 9px;
}
.bucket-item{
  margin-bottom: 18px;
}
.bucket-header{
  margin-bottom: 4px;
}
.empty-items-img{
  margin: auto;
}
.modal{
  background: #fff;
  border: none;
  margin: auto;
  padding: 24px;
  border-radius: 8px;
  min-width: 500px;
}
.modal-header{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}
.modal-btn{
  background: var(--Red);
  width: 100%;
  padding: 12px;
  border-radius: 300px;
  color: var(--Rose-100);
  text-align: center;
}
.modal-body{
  padding: 18px;
}
.modal-cont{
  margin-bottom: 24px;
}
.modal-item-img{
  width: 50px;
  margin-right: 12px;
}
.order-total-cont{
  margin-top: 32px;
}
.order-total-num{
  font-weight: 800;
  font-size: 24px;
}
.carbon{
  margin: 24px auto;
}
.carbon-span{
  margin: 0 4px;
}
.carbon-img{
  margin-right: 8px;
}
.delete-item-btn{
  content: "assets/images/icon-remove-item.svg";
  border: none;
  outline: none;
  background: transparent;
  padding: 2px;
  border: 1px solid var(--Rose-400);
  border-radius: 50px;
  cursor: pointer;
}
.delete-item-btn:hover{
  border: 1px solid var(--Rose-900);
  color: var(--Rose-900);
}
/* Extra large devices (large desktops, 1200px and up) */
@media (width < 1200px)  {}

/* Large devices (desktops, 992px and up) */
@media (width < 992px) {
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (width < 768px) {
  .main{
    flex-direction: column;
  }
  .grid{
    grid-template-columns: repeat(1, 1fr);
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (width < 576px) {
  .modal{
    width: 100%;
  }
}